.viewpc-container {
	margin: 1rem;
}

.viewpc-title {
	display: flex;
	justify-content: center;
	font-size: 2rem;
	font-weight: bold;
}
.viewbuilds-list {
	display: grid;
	grid-template-columns: auto auto;
}
.viewbuild-grid {
	display: grid;
	grid-template-columns: auto auto;
}
.viewbuild-card {
	padding: 1rem;
	margin: 0.25rem;
	font-size: 1.25rem;
	border: 1px solid white;
	border-radius: 1rem;
}

.viewbuild-card p {
	margin: 0.15rem;
}

.viewbuild-card p:hover {
	cursor: pointer;
	transform: scale(1.01);
	color: white;
}
.component-label {
	color: rgb(173, 173, 187);
	font-weight: 500;
}

.viewbuild-name {
	margin: 0.15rem;
	text-transform: uppercase;
}

/* Component Details */
.component-details-panel {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0.25rem;
	padding: 1rem;
	border: 1px solid white;
	border-radius: 1rem;
	width: 20%;
	font-size: 1.25rem;
}
.component-name-details {
}

.specs-close-button {
	background-color: #6b6a6a;
	border-radius: 5px;
	border: none;
	padding: 0.5rem;
	font-size: 1rem;
}

.specs-close-button:hover {
	cursor: pointer;
	background-color: rgba(201, 199, 199, 0.615);
}

/* Delete */
.delete-button {
	margin-top: 0.5rem;
	background-color: #6b6a6a;
	border-radius: 5px;
	border: none;
	padding: 0.5rem;
	font-size: 1rem;
}

.delete-button:hover {
	cursor: pointer;
	transform: scale(1.03);
	background-color: rgba(177, 27, 27, 0.615);
}

.confirm-delete-options {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.confirm-text {
	margin-right: 0.5rem;
}
.confirm-button {
	margin-right: 0.5rem;
	background-color: #6b6a6a;
	border: none;
	border-radius: 5px;
	padding: 0.5rem;
}

.confirm-button:hover {
	cursor: pointer;
	background-color: rgba(177, 27, 27, 0.615);
}
.cancel-button {
	background-color: #6b6a6a;
	border: none;
	border-radius: 5px;
	padding: 0.5rem;
}

.cancel-button:hover {
	cursor: pointer;
	background-color: rgba(201, 199, 199, 0.615);
}
.success-message {
}
