.hp-container {
	margin: 0;
}

.title-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-text-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.hp-title {
	font-family: Kanit;
	text-transform: uppercase;
	font-weight: 600;
}

.top-title {
	font-size: 12rem;
}

.bottom-title {
	margin-top: -23rem;
	font-size: 18.3rem;
}

.text-container {
	margin-top: -5rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
}

.text {
	font-size: 1.25rem;
}

.pc-pic {
	transition: 0.5s ease;
	filter: drop-shadow(1px 1px 5px rgba(228, 26, 191, 0.672));
}

.button-container {
	display: flex;
	justify-content: center;
}

.create-button {
	font-weight: 530;
	font-size: 1.25rem;
	text-decoration: none;
	color: white;
	padding: 1.5rem;
	border: 2px solid white;
	border-radius: 14px;
	background-color: #242424;
	opacity: 0.4;
}

.create-button:hover {
	transition: 1s ease;
	transform: scale(1.05);
	opacity: 1;
	cursor: pointer;
	filter: drop-shadow(1px 1px 5px rgba(228, 26, 191, 0.672));
}

@media only screen and (max-width: 1800px) {
	.top-title {
		font-size: 6rem;
	}

	.bottom-title {
		margin-top: -11rem;
		font-size: 9.2rem;
	}

	.pc-pic {
		width: 25rem;
	}

	.text-container {
		margin-top: 2rem;
	}

	.text {
		font-size: 1rem;
	}

	.create-button {
		font-size: 0.75rem;
		padding: 1rem;
	}
}

@media only screen and (max-width: 955px) {
	.title-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.pc-pic {
		margin-top: -10rem;
	}
}

@media only screen and (max-width: 555px) {
	.title-container {
		margin: 1rem;
	}
	.top-title {
		font-size: 4rem;
		margin-bottom: 0rem;
	}

	.bottom-title {
		margin-top: -3.8rem;
		font-size: 6rem;
	}

	.pc-pic {
		margin-top: -5rem;
	}

	.text {
		font-size: 0.75rem;
	}
}

@media only screen and (max-width: 405px) {
	.title-container {
		margin: 1rem;
	}
	.top-title {
		font-size: 3rem;
		margin-bottom: 0rem;
	}

	.bottom-title {
		margin-top: -2.8rem;
		font-size: 4.5rem;
	}

	.pc-pic {
		margin-top: -5rem;
	}

	.text-container {
		margin-left: 1.5rem;
	}

	.text {
		font-size: 0.75rem;
	}
}
